.btnGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 60px;
}
.btnGroup button {
  border: 0;
  width: 100px;
  height: 100%;
  background-color: var(--sec-color);
  border-inline: 1px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 0 10px;
}
.btnGroup > button:first-of-type {
  border-right: none;
  border-radius: 0 12px 12px 0;
}
.btnGroup button:last-of-type {
  border-left: none;
  border-radius: 12px 0 0 12px;
}

.btnGroup > button > span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.btnGroup > button:hover {
  background-color: var(--main-color);
}

.btnGroup > .active {
  background-color: var(--access-color);
}
 
 