.main {
  margin-right: 350px;
  transition: all 1s;
}



.line {
  position: relative;
}
.line::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 80%;
  background-color: gray;
  opacity: 0.5;
  top: 10%;
  left: 0;
  transform: translate(-50%);
}

@media all and (max-width: 992px) {
  .main {
    margin-inline: 10px;
  }
 
}
@media all and (max-width: 1200px) {
 
  .line {
    position: static;
  }
  .line::after {
    display: none;
  }
}
